

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');
*{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
    list-style: none;
}


.header {
	display: inline;
	float: left;
	width: 50%;
	height: 16%;
	background-color: red;
}


.header1 {
	display: inline;
	float: right;
	width: 50%;
	height: 16%;
	background-color: blue;
}


.Ryder_Cup {
	margin-left: auto;
	margin-right: auto;
    position: relative;
	height: 120px;
	width: 120px;
	top: -120px;
}


.Usa_Flag {
    padding: 1.2%;
	float: left;
	position: relative;
	height: 10%;
	width: 8%;
	top: -120px;
}


.Europe_Flag {
	padding: 1.2%;
    float: right;
    position: relative;
    height: 10%;
    width: 8%;
    top: -120px;
}


.Audio {
	position: relative;
	top: -106%;
}


.Tableau {
    position: relative;
    top: -89%;	
}


.Twitter {
	position: relative;
	margin-top: 2%;	
}
	
	
.Rome {
	display: inline;
	position: absolute;
	float: right;
	height: 500px;
	width: 1017px;
}

	
.Logo {
	display: inline;
	position: absolute;
	float: right;
	height: 130px;
	width: 110px;
}


.Title {
    display: inline;
	position: absolute;
	float: right;
	height: 160px;
	width: 500px;
	color: white;
	margin-top: 200px;
	margin-left: 300px;
}


.Course {
	display: inline;
	position: absolute;
	float: right;
	height: 404px;
	width: 600px;
	margin-top: 515px;
	margin-left: 30%;
}

	
.Text {
	display: inline;
	position: absolute;
	float: right;
	height: 404px;
	width: 600px;
	margin-top: 525px;
	font-size: 18px;
	margin-left: 35px;
}

		
.Blue {
	display: inline;
	position: absolute;
	float: right;
	height: 60px;
	width: 150px;
	margin-top: 840px;
	margin-left: 260px;
}


.Tickets {
	display: inline;
	position: absolute;
	float: right;
	height: 60px;
	width: 150px;
	margin-top: 855px;
	margin-left: 300px;
	font-size: 18px;	
}
	
			